/* Template Name: Landrick - Saas & Software Template
   Author: Shreethemes
   E-mail: shreethemes@gmail.com
   Version: 1.0.0
   Created: August 2019
   File Description: Main Css file of the template
*/
/*********************************/
/*         INDEX                 */
/*================================
 *     01.  Variables            *
 *     02.  Bootstrap Custom     *
 *     03.  Components           *
 *     04.  General              *
 *     05.  Helper               *
 *     06.  Menu                 *
 *     07.  Home / Landing       *
 *     08.  Features / Services  *
 *     09.  Testimonial          *
 *     10.  Price                *
 *     11.  C.T.A                *
 *     12.  Blog / Careers / Job *
 *     13.  Work / Projects      *
 *     14.  Team                 *
 *     15.  User Pages           *
 *     16.  Countdown            *
 *     17.  Contact              *
 *     18.  Footer               *
 ================================*/
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap");
.bg-primary {
  background-color: #2f55d4 !important;
}

.bg-secondary {
  background-color: #5a6d90 !important;
}

.bg-success {
  background-color: #2eca8b !important;
}

.bg-danger {
  background-color: #e43f52 !important;
}

.bg-info {
  background-color: #9084e2 !important;
}

.bg-warning {
  background-color: #f17425 !important;
}

.bg-dark {
  background-color: #3c4858 !important;
}

.bg-light {
  background-color: #f8f9fc !important;
}

.text-primary {
  color: #2f55d4 !important;
}

.text-secondary {
  color: #5a6d90 !important;
}

.text-success {
  color: #2eca8b !important;
}

.text-danger {
  color: #e43f52 !important;
}

.text-info {
  color: #9084e2 !important;
}

.text-warning {
  color: #f17425 !important;
}

.text-dark {
  color: #3c4858 !important;
}

.text-light {
  color: #f8f9fc !important;
}

.text-muted {
  color: #8492a6 !important;
}

.list-inline-item:not(:last-child) {
  margin-right: 5px;
  margin-bottom: 5px;
}

.rounded {
  border-radius: 10px !important;
}

.rounded-top {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.rounded-left {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.rounded-bottom {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.rounded-right {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.small, small {
  font-size: 90%;
}

.component-wrapper .title {
  font-size: 20px;
}

.btn {
  padding: 8px 20px;
  outline: none;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  border-radius: 10px;
}

.btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn.btn-sm {
  padding: 7px 16px;
  font-size: 10px;
}

.btn.btn-lg {
  padding: 14px 30px;
  font-size: 16px;
}

.btn.searchbtn {
  padding: 6px 20px;
}

.btn.btn-primary, .btn.btn-secondary, .btn.btn-success, .btn.btn-danger, .btn.btn-info, .btn.btn-warning, .btn.btn-dark {
  color: #ffffff !important;
}

.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary.active, .btn.btn-primary.focus, .btn.btn-secondary:hover, .btn.btn-secondary:focus, .btn.btn-secondary:active, .btn.btn-secondary.active, .btn.btn-secondary.focus, .btn.btn-success:hover, .btn.btn-success:focus, .btn.btn-success:active, .btn.btn-success.active, .btn.btn-success.focus, .btn.btn-danger:hover, .btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger.active, .btn.btn-danger.focus, .btn.btn-info:hover, .btn.btn-info:focus, .btn.btn-info:active, .btn.btn-info.active, .btn.btn-info.focus, .btn.btn-warning:hover, .btn.btn-warning:focus, .btn.btn-warning:active, .btn.btn-warning.active, .btn.btn-warning.focus, .btn.btn-dark:hover, .btn.btn-dark:focus, .btn.btn-dark:active, .btn.btn-dark.active, .btn.btn-dark.focus {
  color: #ffffff !important;
}

.btn.btn-primary-outline:hover, .btn.btn-primary-outline:focus, .btn.btn-primary-outline:active, .btn.btn-primary-outline.active, .btn.btn-primary-outline.focus, .btn.btn-secondary-outline:hover, .btn.btn-secondary-outline:focus, .btn.btn-secondary-outline:active, .btn.btn-secondary-outline.active, .btn.btn-secondary-outline.focus, .btn.btn-success-outline:hover, .btn.btn-success-outline:focus, .btn.btn-success-outline:active, .btn.btn-success-outline.active, .btn.btn-success-outline.focus, .btn.btn-danger-outline:hover, .btn.btn-danger-outline:focus, .btn.btn-danger-outline:active, .btn.btn-danger-outline.active, .btn.btn-danger-outline.focus, .btn.btn-info-outline:hover, .btn.btn-info-outline:focus, .btn.btn-info-outline:active, .btn.btn-info-outline.active, .btn.btn-info-outline.focus, .btn.btn-warning-outline:hover, .btn.btn-warning-outline:focus, .btn.btn-warning-outline:active, .btn.btn-warning-outline.active, .btn.btn-warning-outline.focus, .btn.btn-dark-outline:hover, .btn.btn-dark-outline:focus, .btn.btn-dark-outline:active, .btn.btn-dark-outline.active, .btn.btn-dark-outline.focus {
  color: #ffffff !important;
}

.btn.btn-primary {
  background: #2f55d4;
  border: 1px solid #2f55d4;
}

.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary.active, .btn.btn-primary.focus {
  background-color: #2443ac !important;
}

.btn.btn-primary-outline {
  border: 1px solid #2f55d4;
  color: #2f55d4;
  background-color: transparent;
}

.btn.btn-primary-outline:hover, .btn.btn-primary-outline:focus, .btn.btn-primary-outline:active, .btn.btn-primary-outline.active, .btn.btn-primary-outline.focus {
  background-color: #2f55d4;
  border-color: #2f55d4;
}

.btn.btn-secondary {
  background: #5a6d90;
  border: 1px solid #5a6d90;
}

.btn.btn-secondary:hover, .btn.btn-secondary:focus, .btn.btn-secondary:active, .btn.btn-secondary.active, .btn.btn-secondary.focus {
  background-color: #465571 !important;
}

.btn.btn-secondary-outline {
  border: 1px solid #5a6d90;
  color: #5a6d90;
  background-color: transparent;
}

.btn.btn-secondary-outline:hover, .btn.btn-secondary-outline:focus, .btn.btn-secondary-outline:active, .btn.btn-secondary-outline.active, .btn.btn-secondary-outline.focus {
  background-color: #5a6d90;
  border-color: #5a6d90;
}

.btn.btn-success {
  background: #2eca8b;
  border: 1px solid #2eca8b;
}

.btn.btn-success:hover, .btn.btn-success:focus, .btn.btn-success:active, .btn.btn-success.active, .btn.btn-success.focus {
  background-color: #25a06e !important;
}

.btn.btn-success-outline {
  border: 1px solid #2eca8b;
  color: #2eca8b;
  background-color: transparent;
}

.btn.btn-success-outline:hover, .btn.btn-success-outline:focus, .btn.btn-success-outline:active, .btn.btn-success-outline.active, .btn.btn-success-outline.focus {
  background-color: #2eca8b;
  border-color: #2eca8b;
}

.btn.btn-danger {
  background: #e43f52;
  border: 1px solid #e43f52;
}

.btn.btn-danger:hover, .btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger.active, .btn.btn-danger.focus {
  background-color: #d21e32 !important;
}

.btn.btn-danger-outline {
  border: 1px solid #e43f52;
  color: #e43f52;
  background-color: transparent;
}

.btn.btn-danger-outline:hover, .btn.btn-danger-outline:focus, .btn.btn-danger-outline:active, .btn.btn-danger-outline.active, .btn.btn-danger-outline.focus {
  background-color: #e43f52;
  border-color: #e43f52;
}

.btn.btn-info {
  background: #9084e2;
  border: 1px solid #9084e2;
}

.btn.btn-info:hover, .btn.btn-info:focus, .btn.btn-info:active, .btn.btn-info.active, .btn.btn-info.focus {
  background-color: #6b5bd8 !important;
}

.btn.btn-info-outline {
  border: 1px solid #9084e2;
  color: #9084e2;
  background-color: transparent;
}

.btn.btn-info-outline:hover, .btn.btn-info-outline:focus, .btn.btn-info-outline:active, .btn.btn-info-outline.active, .btn.btn-info-outline.focus {
  background-color: #9084e2;
  border-color: #9084e2;
}

.btn.btn-warning {
  background: #f17425;
  border: 1px solid #f17425;
}

.btn.btn-warning:hover, .btn.btn-warning:focus, .btn.btn-warning:active, .btn.btn-warning.active, .btn.btn-warning.focus {
  background-color: #d55b0e !important;
}

.btn.btn-warning-outline {
  border: 1px solid #f17425;
  color: #f17425;
  background-color: transparent;
}

.btn.btn-warning-outline:hover, .btn.btn-warning-outline:focus, .btn.btn-warning-outline:active, .btn.btn-warning-outline.active, .btn.btn-warning-outline.focus {
  background-color: #f17425;
  border-color: #f17425;
}

.btn.btn-dark {
  background: #3c4858;
  border: 1px solid #3c4858;
}

.btn.btn-dark:hover, .btn.btn-dark:focus, .btn.btn-dark:active, .btn.btn-dark.active, .btn.btn-dark.focus {
  background-color: #272f3a !important;
}

.btn.btn-dark-outline {
  border: 1px solid #3c4858;
  color: #3c4858;
  background-color: transparent;
}

.btn.btn-dark-outline:hover, .btn.btn-dark-outline:focus, .btn.btn-dark-outline:active, .btn.btn-dark-outline.active, .btn.btn-dark-outline.focus {
  background-color: #3c4858;
  border-color: #3c4858;
}

.btn.btn-light {
  color: #3c4858;
  background: #f8f9fc;
  border: 1px solid #dee2e6;
}

.btn.btn-light:hover, .btn.btn-light:focus, .btn.btn-light:active, .btn.btn-light.active, .btn.btn-light.focus {
  background-color: #d4daed !important;
  color: #3c4858;
}

.btn.btn-light-outline {
  border: 1px solid #dee2e6;
  color: #3c4858;
  background-color: transparent;
}

.btn.btn-light-outline:hover, .btn.btn-light-outline:focus, .btn.btn-light-outline:active, .btn.btn-light-outline.active, .btn.btn-light-outline.focus {
  background-color: #f8f9fc;
}

.form-control:disabled, .form-control[readonly] {
  background-color: transparent;
  opacity: 1;
}

button:not(:disabled) {
  outline: none;
}

.shadow {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15) !important;
}

.page-next-level .title {
  font-size: 28px;
  letter-spacing: 1px;
}

.page-next-level .page-next {
  letter-spacing: 0.5px;
  position: relative;
  padding-left: 0;
  top: 70px;
  z-index: 99;
}

.page-next-level .page-next li {
  display: inline-block;
  margin-right: 5px;
}

.page-next-level .page-next li:after {
  content: "\f142";
  font-size: 16px;
  color: #3c4858;
  font-family: 'Material Design Icons';
}

.page-next-level .page-next li:last-child {
  margin-right: 0;
}

.page-next-level .page-next li:last-child:after {
  display: none;
}

.page-next-level .page-next li a, .page-next-level .page-next li span {
  font-size: 14px;
  padding-right: 8px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.page-next-level .page-next li a:hover {
  color: #2f55d4 !important;
}

.page-next-level .page-next li span:last-child {
  padding-right: 0px;
}

.badge {
  padding: 5px 8px;
  border-radius: 5px;
  letter-spacing: 0.8px;
}

.badge.badge-primary, .badge.badge-secondary, .badge.badge-success, .badge.badge-danger, .badge.badge-info, .badge.badge-warning, .badge.badge-dark {
  color: #ffffff !important;
}

.badge.badge-primary {
  background-color: #2f55d4 !important;
}

.badge.badge-secondary {
  background-color: #5a6d90 !important;
}

.badge.badge-success {
  background-color: #2eca8b !important;
}

.badge.badge-danger {
  background-color: #e43f52 !important;
}

.badge.badge-warning {
  background-color: #f17425 !important;
}

.badge.badge-info {
  background-color: #9084e2 !important;
}

.badge.badge-light {
  color: #3c4858;
  background-color: #f8f9fc !important;
}

.badge.badge-dark {
  background-color: #3c4858 !important;
}

.alert {
  padding: 8px 15px;
  border-radius: 10px;
}

.alert.alert-primary, .alert.alert-secondary, .alert.alert-success, .alert.alert-danger, .alert.alert-warning, .alert.alert-info, .alert.alert-dark {
  color: #ffffff;
}

.alert.alert-primary {
  background-color: #6e89e1;
  border-color: #2f55d4;
}

.alert.alert-secondary {
  background-color: #8494b2;
  border-color: #5a6d90;
}

.alert.alert-success {
  background-color: #68ddad;
  border-color: #2eca8b;
}

.alert.alert-danger {
  background-color: #ed828e;
  border-color: #e43f52;
}

.alert.alert-warning {
  background-color: #f6a26d;
  border-color: #f17425;
}

.alert.alert-info {
  background-color: #c8c2f1;
  border-color: #9084e2;
}

.alert.alert-dark {
  background-color: #5b6d85;
  border-color: #3c4858;
}

.alert.alert-light {
  background-color: #f8f9fc;
  color: #3c4858;
  border-color: #dee2e6;
}

.avatar.avatar-small {
  height: 80px;
}

.avatar.avatar-medium {
  height: 110px;
}

.avatar.avatar-large {
  height: 140px;
}

.faq-container .question {
  font-size: 20px;
}

.faq-content .card .faq .card-header {
  padding-right: 40px !important;
}

.faq-content .card .faq .card-header.card-header-2 {
  border-bottom: 0;
}

.faq-content .card .faq .card-header.card-header-2 .faq-question {
  font-size: 18px;
}

.faq-content .card a.faq[data-toggle=collapse] {
  background-color: #ffffff;
  color: #2f55d4;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.faq-content .card a.faq[data-toggle=collapse]:before {
  content: '\F143';
  display: block;
  font-family: 'Material Design Icons';
  font-size: 18px;
  color: #3c4858;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.faq-content .card a.faq[data-toggle=collapse].collapsed {
  background-color: #ffffff;
  color: #3c4858;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.faq-content .card a.faq[data-toggle=collapse].collapsed:before {
  top: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq-content .card .title {
  font-size: 18px;
}

.nav-pills .nav-link {
  color: #3c4858 !important;
  margin: auto 15px;
  border: 1px solid #dee2e6;
  padding: 5px;
}

.nav-pills .nav-link.active {
  background-color: #2f55d4;
  color: #ffffff !important;
  border-color: #2f55d4 !important;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

.nav-pills a .skill-container .title {
  font-size: 18px;
  font-weight: 700;
}

.blockquote {
  border-left: 3px solid #dee2e6;
  border-radius: 10px;
  font-size: 16px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 14px;
  font-weight: 700;
}

.form-group .form-control {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #dee2e6;
  height: 42px;
  font-size: 13px;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.form-group .form-control:focus, .form-group .form-control.active {
  border-color: #2f55d4;
}

.form-group textarea {
  height: 120px !important;
}

.form-group textarea.form-control {
  line-height: 25px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #ffffff;
  border-color: #2f55d4;
  background-color: #2f55d4;
}

.custom-control-input:focus ~ .custom-control-label::before,
.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #2f55d4;
}

.subcribe-form input {
  padding: 14px 20px;
  width: 100%;
  color: #3c4858 !important;
  border: none;
  outline: none !important;
  padding-right: 160px;
  padding-left: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}

.subcribe-form button {
  position: absolute;
  top: 6px;
  right: 6px;
  outline: none !important;
}

.subcribe-form form {
  position: relative;
  max-width: 600px;
  margin: 0px auto;
}

.display-1 {
  font-size: 80px !important;
}

.display-2 {
  font-size: 72px !important;
}

.display-3 {
  font-size: 64px !important;
}

.display-4 {
  font-size: 56px !important;
}

@media (max-width: 768px) {
  .display-1 {
    font-size: 56px !important;
  }
  .display-2 {
    font-size: 50px !important;
  }
  .display-3 {
    font-size: 42px !important;
  }
  .display-4 {
    font-size: 36px !important;
  }
}

body {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden !important;
  font-size: 16px;
  color: #161c2d;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-weight: 600;
}

::-moz-selection {
  background: #4466d8;
  color: #ffffff;
}

::selection {
  background: #4466d8;
  color: #ffffff;
}

a {
  text-decoration: none !important;
}

p {
  line-height: 1.6;
}

.section {
  padding: 100px 0;
  position: relative;
}

.section-two {
  padding: 60px 0;
  position: relative;
}

.bg-overlay {
  background-color: rgba(35, 37, 47, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.bg-overlay-gradient {
  background-color: rgba(47, 86, 212, 0.75);
}

.bg-overlay-hosting {
  background: #122258;
  opacity: 0.8;
}

.title-heading {
  line-height: 26px;
}

.title-heading .heading {
  font-size: 45px;
  letter-spacing: 1px;
}

.title-heading .para-desc {
  font-size: 18px;
}

.section-title {
  position: relative;
}

.section-title .main-title {
  font-size: 35px;
  letter-spacing: 0.8px;
}

.section-title .title {
  letter-spacing: 0.5px;
  font-size: 30px;
}

.para-desc {
  max-width: 600px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-60 {
  margin-bottom: 60px;
}

.home-shape-bottom {
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
  bottom: -1px;
  left: 0;
}

.home-shape-bottom img {
  width: 100%;
  height: auto;
}

.home-shape-arrow {
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
  bottom: -38px;
  z-index: 1;
  left: 0;
}

.home-shape-arrow img {
  height: auto;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.home-shape-arrow .arrow-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: inline-block;
}

.mover {
  -webkit-animation: mover 1s infinite alternate;
          animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes mover {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(45deg, #ffffff, #ffffff);
  z-index: 9999999;
}

#preloader #status {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#preloader #status .spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

#preloader #status .spinner .double-bounce1, #preloader #status .spinner .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #2f55d4;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
          animation: sk-bounce 2.0s infinite ease-in-out;
}

#preloader #status .spinner .double-bounce2 {
  -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.social-icon li a {
  color: #3c4858;
  border: 1px solid #3c4858;
  display: inline-block;
  height: 32px;
  text-align: center;
  font-size: 15px;
  width: 32px;
  line-height: 30px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  overflow: hidden;
  position: relative;
}

.social-icon li a:hover {
  background-color: #2f55d4;
  border-color: #2f55d4 !important;
  color: #ffffff !important;
}

.social-icon.social li a {
  color: #adb5bd;
  border-color: #adb5bd;
}

.back-to-top {
  z-index: 99;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 33px;
  height: 33px;
  line-height: 33px;
  display: none;
  color: #3c4858;
  background-color: #ced4da;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

.back-to-top i {
  font-size: 16px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.back-to-top:hover {
  background-color: #2f55d4;
  color: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.back-to-top:hover i {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.back-to-home {
  position: absolute;
  top: 4%;
  right: 2%;
  z-index: 1;
}

.back-to-home a {
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #2f55d4;
}

@media (min-width: 768px) {
  .margin-top-100 {
    margin-top: 100px;
  }
  .margin-top-100 .heading {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  .pt-sm-60 {
    padding-top: 0 !important;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 60px 0;
  }
  .title-heading .heading {
    font-size: 35px !important;
  }
  .title-heading .para-desc {
    font-size: 18px;
  }
  .section-title .main-title {
    font-size: 28px;
  }
  .section-title .title {
    font-size: 24px;
  }
  .mt-60 {
    margin-top: 60px;
  }
}

#topnav {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
  background-color: transparent;
  border: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#topnav .logo {
  float: left;
  color: #3c4858 !important;
}

#topnav .has-submenu.active a {
  color: #ffffff;
}

#topnav .has-submenu.active .submenu li.active > a {
  color: #2f55d4;
}

#topnav .has-submenu.active.active .menu-arrow {
  border-color: #2f55d4;
}

#topnav .has-submenu {
  position: relative;
}

#topnav .has-submenu .submenu .submenu-arrow {
  border: solid #3c4858;
  border-radius: 0.5px;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  right: 20px;
  top: 14px;
}

#topnav .navbar-toggle {
  border: 0;
  position: relative;
  width: 60px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#topnav .navbar-toggle .lines {
  width: 25px;
  display: block;
  position: relative;
  margin: 32px 20px 24px;
  height: 18px;
}

#topnav .navbar-toggle span {
  height: 2px;
  width: 100%;
  background-color: #3c4858;
  display: block;
  margin-bottom: 5px;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

#topnav .navbar-toggle span:last-child {
  margin-bottom: 0;
}

#topnav .buy-button {
  float: right;
  line-height: 68px;
  padding: 3px 0;
}

#topnav .navbar-toggle.open span {
  position: absolute;
}

#topnav .navbar-toggle.open span:first-child {
  top: 6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#topnav .navbar-toggle.open span:nth-child(2) {
  visibility: hidden;
}

#topnav .navbar-toggle.open span:last-child {
  width: 100%;
  top: 6px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#topnav .navbar-toggle.open span:hover {
  background-color: #2f55d4;
}

#topnav .navbar-toggle:hover, #topnav .navbar-toggle:focus,
#topnav .navbar-toggle .navigation-menu > li > a:hover, #topnav .navbar-toggle:focus {
  background-color: transparent;
}

#topnav .navigation-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

#topnav .navigation-menu > li {
  float: left;
  display: block;
  position: relative;
  margin: 0 10px;
}

#topnav .navigation-menu > li > a {
  display: block;
  color: #3c4858;
  font-size: 13px;
  background-color: transparent !important;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "Nunito", sans-serif;
  padding-left: 15px;
  padding-right: 15px;
}

#topnav .navigation-menu > li > a:hover, #topnav .navigation-menu > li > a:active {
  color: #2f55d4;
}

#topnav .navigation-menu .has-submenu .menu-arrow {
  border: solid #3c4858;
  border-radius: 0.5px;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  right: -1px;
  top: 30px;
}

#topnav .menu-extras {
  float: right;
}

#topnav.scroll, #topnav.scroll-active, #topnav.dark-menubar {
  background-color: #ffffff;
  border: none;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

#topnav.scroll .navigation-menu > li > a, #topnav.scroll-active .navigation-menu > li > a, #topnav.dark-menubar .navigation-menu > li > a {
  color: #3c4858;
}

#topnav.scroll .navigation-menu > li > a:hover, #topnav.scroll-active .navigation-menu > li > a:hover, #topnav.dark-menubar .navigation-menu > li > a:hover {
  color: #2f55d4 !important;
}

#topnav.scroll .navigation-menu > li.active > a, #topnav.scroll-active .navigation-menu > li.active > a, #topnav.dark-menubar .navigation-menu > li.active > a {
  color: #2f55d4 !important;
}

#topnav.defaultscroll.dark-menubar .logo {
  line-height: 70px;
}

#topnav.defaultscroll.scroll .logo {
  line-height: 62px;
}

#topnav.defaultscroll.scroll.dark-menubar .logo {
  line-height: 62px;
}

#topnav.nav-sticky {
  background: #ffffff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

.logo {
  font-weight: 700;
  font-size: 24px;
  padding: 3px 0;
  letter-spacing: 1px;
  line-height: 68px;
}

@media (min-width: 992px) {
  #topnav .navigation-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #topnav .navigation-menu > .has-submenu > .submenu > .has-submenu > .submenu::before {
    top: 20px;
    margin-left: 11px;
    -webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.15);
    border-color: transparent #ffffff #ffffff transparent;
  }
  #topnav .navigation-menu > li .submenu > li .submenu {
    left: 106%;
    top: 0;
    margin-left: 10px;
    margin-top: -1px;
  }
  #topnav .navigation-menu > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
    min-height: 62px;
  }
  #topnav .navigation-menu > li:hover > .menu-arrow {
    border-color: #2f55d4;
  }
  #topnav .navigation-menu > li:hover,
  #topnav .navigation-menu > li.active > a {
    color: #2f55d4 !important;
  }
  #topnav .navigation-menu > li .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    padding: 15px 0;
    list-style: none;
    min-width: 180px;
    visibility: hidden;
    opacity: 0;
    margin-top: 10px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    border-radius: 10px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  }
  #topnav .navigation-menu > li .submenu:before {
    content: "";
    position: absolute;
    top: 2px;
    margin-left: 45px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 7px solid #495057;
    border-color: transparent transparent #ffffff #ffffff;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    -webkit-box-shadow: -2px 2px 2px -1px rgba(0, 0, 0, 0.15);
            box-shadow: -2px 2px 2px -1px rgba(0, 0, 0, 0.15);
  }
  #topnav .navigation-menu > li .submenu li {
    position: relative;
  }
  #topnav .navigation-menu > li .submenu li a {
    display: block;
    padding: 10px 20px;
    clear: both;
    white-space: nowrap;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-weight: 700;
    color: #3c4858;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #topnav .navigation-menu > li .submenu li a:hover {
    color: #2f55d4;
  }
  #topnav .navigation-menu > li .submenu li ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  #topnav .navigation-menu > li .submenu.megamenu {
    white-space: nowrap;
    width: auto;
  }
  #topnav .navigation-menu > li .submenu.megamenu > li {
    overflow: hidden;
    width: 180px;
    display: inline-block;
    vertical-align: top;
  }
  #topnav .navigation-menu > li .submenu.megamenu > li .submenu {
    left: 100%;
    top: 0;
    margin-left: 10px;
    margin-top: -1px;
  }
  #topnav .navigation-menu > li.last-elements .submenu {
    left: auto;
    right: 0;
  }
  #topnav .navigation-menu > li.last-elements .submenu > li.has-submenu .submenu {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: 10px;
  }
  #topnav .navbar-toggle {
    display: none;
  }
  #topnav #navigation {
    display: block !important;
  }
  #topnav.scroll {
    top: 0;
  }
  #topnav.scroll .navigation-menu > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #topnav.scroll-active .navigation-menu > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media (max-width: 991px) {
  #topnav {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    min-height: 74px;
  }
  #topnav .container {
    width: auto;
  }
  #topnav .navigation-menu {
    float: none;
    max-height: 400px;
  }
  #topnav .navigation-menu > li {
    float: none;
  }
  #topnav .navigation-menu > li .submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
    margin: 0;
  }
  #topnav .navigation-menu > li .submenu li a {
    display: block;
    position: relative;
    padding: 7px 15px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.04em;
    font-weight: 700;
    color: #3c4858;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #topnav .navigation-menu > li .submenu.open {
    display: block;
  }
  #topnav .navigation-menu > li .submenu .submenu {
    display: none;
    list-style: none;
  }
  #topnav .navigation-menu > li .submenu .submenu.open {
    display: block;
  }
  #topnav .navigation-menu > li .submenu.megamenu > li > ul {
    list-style: none;
    padding-left: 0;
  }
  #topnav .navigation-menu > li .submenu.megamenu > li > ul > li > span {
    display: block;
    position: relative;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: #8492a6;
  }
  #topnav .navigation-menu > li > a {
    color: #3c4858;
    padding: 10px 20px;
  }
  #topnav .navigation-menu > li > a:after {
    position: absolute;
    right: 15px;
  }
  #topnav .navigation-menu > li > a:hover,
  #topnav .navigation-menu > li .submenu li a:hover,
  #topnav .navigation-menu > li.has-submenu.open > a {
    color: #2f55d4;
  }
  #topnav .menu-extras .menu-item {
    border-color: #8492a6;
  }
  #topnav .navbar-header {
    float: left;
  }
  #topnav .has-submenu .submenu .submenu-arrow {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    right: 20px;
    top: 12px;
  }
  #topnav .has-submenu.active a {
    color: #2f55d4;
  }
  #navigation {
    position: absolute;
    top: 74px;
    left: 0;
    width: 100%;
    display: none;
    height: auto;
    padding-bottom: 0;
    overflow: auto;
    border-top: 1px solid #f1f3f9;
    border-bottom: 1px solid #f1f3f9;
    background-color: #ffffff;
  }
  #navigation.open {
    display: block;
    overflow-y: auto;
  }
}

@media (max-width: 768px) {
  #topnav .navigation-menu .has-submenu .menu-arrow {
    right: 16px;
    top: 16px;
  }
}

@media (min-width: 768px) {
  #topnav .navigation-menu > li.has-submenu:hover > .submenu {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
  }
  #topnav .navigation-menu > li.has-submenu:hover > .submenu > li.has-submenu:hover > .submenu {
    visibility: visible;
    opacity: 1;
    margin-left: 0;
    margin-right: 0;
  }
  .navbar-toggle {
    display: block;
  }
}

@media (max-width: 375px) {
  #topnav .buy-button {
    display: none;
  }
  #topnav .navbar-toggle .lines {
    margin-right: 0 !important;
  }
}

.home-center {
  display: table;
  width: 100%;
  height: 100%;
}

.home-desc-center {
  display: table-cell;
  vertical-align: middle;
}

.bg-home {
  height: 100vh;
  background-size: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  background-position: center center;
}

.bg-hosting {
  padding: 200px 0;
  background-size: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  background-position: center center;
}

.bg-half-170 {
  padding: 170px 0;
  background-size: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  background-position: center center;
}

.bg-half {
  padding: 144px 0 50px;
  background-size: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  background-position: center center;
}

.gradient {
  background: #2f55d4 !important;
  background: linear-gradient(45deg, #2f55d4, #2f55d4) !important;
  opacity: 0.9;
}

.home-dashboard img {
  position: relative;
  top: 60px;
  z-index: 1;
}

.studio-home {
  padding: 7%;
  border-radius: 30px;
}

.agency-wrapper:before {
  content: "";
  position: absolute;
  bottom: 25rem;
  right: 54rem;
  width: 90rem;
  height: 35rem;
  border-radius: 17rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #f8f9fc;
  z-index: -1;
}

.bg-marketing {
  padding: 76px 0 120px;
  background-size: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  background-position: center center;
}

.home-slider .carousel-control-next,
.home-slider .carousel-control-prev {
  width: 5%;
}

.home-slider .carousel-item,
.home-slider .carousel {
  height: 100vh;
  width: 100%;
}

.home-slider .carousel-item {
  background-position: center center;
  background-size: cover;
}

.main-slider .slides .bg-slider {
  background-size: cover;
  height: 100vh;
  position: relative;
  background-size: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  background-position: center center;
}

.main-slider .slides .bg-slider.shopping {
  height: 75vh;
}

.flex-control-paging li a {
  background: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.flex-control-paging li a.flex-active {
  background: #2f55d4;
  cursor: default;
  font-size: 17px;
  width: 15px;
  height: 15px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.flex-control-nav {
  display: none;
}

.bg-animation-left:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 70%;
  height: 100%;
  background: #ffffff none repeat scroll 0 0;
  opacity: 0.85;
  -webkit-clip-path: polygon(0 0, 90% 0, 70% 100%, 0% 100%);
          clip-path: polygon(0 0, 90% 0, 70% 100%, 0% 100%);
}

.bg-animation-left .hotel-home {
  position: relative;
  z-index: 1;
}

@media (min-width: 769px) {
  .bg-studio:after {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
    content: "";
    background: #ffffff none repeat scroll 0 0;
    z-index: 2;
  }
}

@media (max-width: 768px) {
  .agency-wrapper:before {
    right: 12rem;
  }
  .bg-half {
    padding: 169px 0 50px;
  }
}

@media (max-width: 767px) {
  .bg-home, .bg-half-170, .bg-hosting, .main-slider .slides .bg-slider, .bg-marketing {
    padding: 150px 0;
    height: auto;
  }
  .agency-wrapper:before {
    right: 0rem;
  }
  .bg-animation-left:after {
    width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.feature-list li {
  margin-bottom: 5px;
  font-size: 15px;
}

.features .icon {
  font-size: 24px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #edf0fb;
  text-align: center;
}

.features .image img {
  height: 60px;
}

.features .image:before {
  content: "";
  position: absolute;
  bottom: 0px;
  right: -15px;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  -webkit-transform: rotate(22deg);
          transform: rotate(22deg);
  background-color: #f1f4fc;
  z-index: -1;
}

.features .title-2 {
  font-size: 20px;
}

.key-feature {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.key-feature .icon {
  height: 40px;
  width: 40px;
  line-height: 40px;
  background: #edf0fb;
  font-size: 24px;
}

.key-feature:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.key-feature .content .title, .features .title {
  font-size: 18px;
}

.work-process {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.work-process .title {
  font-size: 20px;
}

.work-process .step, .work-process .step-icon {
  font-size: 45px;
  opacity: 0.06;
}

.work-process a {
  font-size: 15px;
}

.work-process a:hover {
  color: #2443ac !important;
}

.work-process:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.owl-theme .owl-controls .owl-page span {
  background: #2f55d4 !important;
}

.customer-testi .content:before {
  content: "";
  position: absolute;
  top: 30px;
  margin-left: -3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 8px solid #495057;
  border-color: transparent #ffffff #ffffff transparent;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.15);
}

.owl-theme .owl-controls .owl-page span {
  border-radius: 2px;
  background: transparent;
  border: 2px solid #2f55d4;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #2f55d4;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.pricing-rates {
  position: relative;
  z-index: 1;
  border-bottom: 3px solid #adb5bd;
}

.pricing-rates .title {
  font-weight: 700;
  font-size: 16px;
}

.pricing-rates .feature .feature-list {
  margin: auto auto 5px;
  font-size: 14px;
}

.pricing-rates.business-rate {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.pricing-rates.business-rate:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  z-index: 2;
  border-color: #2f55d4;
}

.pricing-rates.business-rate:hover .title {
  color: #2f55d4;
}

.pricing-rates.starter-plan {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  z-index: 2;
  border-color: #2f55d4;
}

.pricing-rates.best-plan {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.pricing-rates.best-plan .lable {
  width: 200px;
  position: absolute;
  top: 15px;
  right: -65px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 1;
}

.pricing-rates.best-plan .lable h6 {
  font-size: 12px;
}

.pricing-rates.best-plan:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

@media (max-width: 767px) {
  .pricing-rates.starter-plan {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.watch-video a.watch {
  font-size: 14px;
  font-weight: 700;
}

.watch-video a .play-icon-circle {
  height: 36px;
  width: 36px;
  background-color: #2f55d4;
  line-height: 36px;
}

.watch-video a .play-icon-circle.play-iconbar {
  font-size: 16px;
}

.watch-video a .play-icon-circle.play {
  top: 77%;
}

.bg-cta {
  padding: 150px 0;
}

.play-btn {
  height: 78px;
  width: 78px;
  font-size: 30px;
  line-height: 76px;
  border-radius: 50%;
  display: inline-block;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.play-icon {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  right: 0;
  left: 0;
  text-align: center;
}

.play-icon i {
  height: 75px;
  -webkit-text-stroke: 2px #2f55d4;
  -webkit-text-fill-color: transparent;
  width: 75px;
  font-size: 25px;
  line-height: 75px;
  display: inline-block;
}

.play-icon i:hover {
  -webkit-text-stroke: 2px #2f55d4;
  -webkit-text-fill-color: #2f55d4;
}

.blog {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.blog .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.blog .content h4 {
  line-height: 1.2;
}

.blog .content .title {
  font-size: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.blog .content .title:hover {
  color: #2f55d4 !important;
}

.blog .content .post-meta .like, .blog .content .post-meta .comments, .blog .content .post-meta .readmore {
  font-size: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.blog .content .post-meta .like:hover {
  color: #e43f52 !important;
}

.blog .content .post-meta .comments:hover {
  color: #2eca8b !important;
}

.blog .content .post-meta .readmore:hover {
  color: #2f55d4 !important;
}

.blog .author {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.blog:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.blog:hover .overlay {
  opacity: 0.4;
}

.blog:hover .author {
  opacity: 1;
}

.sidebar .widget .widget-search form {
  position: relative;
}

.sidebar .widget .widget-search input[type="text"], .sidebar .widget .searchform input[type="text"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 12px 15px;
  height: 45px;
  font-size: 14px;
  display: block;
  width: 100%;
  outline: none !important;
  padding-right: 45px;
}

.sidebar .widget .widget-search input[type="submit"], .sidebar .widget .searchform input[type="submit"] {
  position: absolute;
  top: 5px;
  right: 10px;
  opacity: 0;
  width: 40px;
  height: 40px;
}

.sidebar .widget .widget-search .searchform:after {
  content: "\F349";
  position: absolute;
  font-family: "Material Design Icons";
  right: 16px;
  top: 15px;
  font-size: 20px;
  line-height: 20px;
  pointer-events: none;
}

.sidebar .widget .widget-title {
  font-size: 18px;
}

.sidebar .widget .catagories li {
  padding-bottom: 10px;
}

.sidebar .widget .catagories li:last-child {
  padding-bottom: 0;
}

.sidebar .widget .catagories li a, .sidebar .widget .catagories li span {
  font-size: 15px;
}

.sidebar .widget .catagories li a {
  color: #3c4858;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar .widget .catagories li a:hover {
  color: #2f55d4;
}

.sidebar .widget .post-recent {
  padding-bottom: 15px;
}

.sidebar .widget .post-recent:last-child {
  padding-bottom: 0;
}

.sidebar .widget .post-recent .post-recent-thumb {
  width: 25%;
}

.sidebar .widget .post-recent .post-recent-content {
  width: 75%;
  padding-left: 10px;
}

.sidebar .widget .post-recent .post-recent-content a {
  display: block;
  color: #3c4858;
  font-size: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar .widget .post-recent .post-recent-content a:hover {
  color: #2f55d4;
}

.sidebar .widget .post-recent .post-recent-content span {
  font-size: 13px;
}

.sidebar .widget .tagcloud > a {
  background: #e9ecef;
  color: #3c4858;
  display: inline-block;
  font-size: 9px;
  letter-spacing: 1px;
  margin: 5px 10px 5px 0;
  padding: 8px 12px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar .widget .tagcloud > a:hover {
  background: #2f55d4;
  color: #ffffff;
}

.page-title {
  font-size: 20px;
}

.media-list .comment-desk .commentor img {
  height: 50px;
}

.media-list .comment-desk .media-heading {
  font-size: 16px;
}

.media-list .comment-desk a:hover {
  color: #2f55d4 !important;
}

.media-list .sub-comment {
  border-left: 2px dashed #dee2e6;
}

.pagination {
  line-height: 20px;
  font-size: 13px;
}

.pagination li {
  display: inline;
}

.pagination li:first-child a {
  border-left-width: 1px;
  border-radius: 20px 0 0 20px;
}

.pagination li:last-child a {
  border-radius: 0 20px 20px 0;
}

.pagination li a {
  float: left;
  text-decoration: none;
  color: #3c4858;
  border: 1px solid #dee2e6;
  border-left-width: 0;
  background: #ffffff;
}

.pagination li a:hover {
  color: #ffffff;
  background: #4466d8;
  border-color: #4466d8;
}

.pagination .active a {
  color: #ffffff;
  background: #2f55d4 !important;
  border-color: #2f55d4;
  cursor: not-allowed;
}

.job-content {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.job-content:before {
  content: "";
  position: absolute;
  top: -45px;
  right: -80px;
  width: 230px;
  height: 130px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #edf0fb;
  z-index: -1;
}

.job-content .head .title {
  font-size: 18px;
}

.job-content .head .title:hover {
  color: #2f55d4 !important;
}

.job-content .head .firm:hover {
  color: #e43f52 !important;
}

.job-content:hover {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.work-container {
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.work-container img {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.work-container .overlay-work {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #3c4858;
  z-index: 1;
}

.work-container .content {
  position: absolute;
  z-index: 1;
  bottom: 5%;
  left: 5%;
}

.work-container .content .title {
  font-size: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.work-container .content .title:hover {
  color: #c3cef3 !important;
}

.work-container .client, .work-container .read_more {
  position: absolute;
  z-index: 1;
  right: 5%;
  top: 5%;
}

.work-container .read_more {
  height: 30px;
  width: 30px;
  line-height: 30px;
}

.work-container:hover img {
  -webkit-transform: scale(1.1) rotate(3deg);
          transform: scale(1.1) rotate(3deg);
}

.work-container:hover .overlay-work {
  opacity: 0.65;
}

.work-details ul li b {
  max-width: 90px;
  width: 100%;
  display: inline-block;
}

.event-schedule {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.event-schedule .date .day {
  font-size: 18px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #e9edfa;
  line-height: 48px;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0px 0px 2px 0.25px #4466d8;
          box-shadow: 0px 0px 2px 0.25px #4466d8;
}

.event-schedule .date .month {
  font-size: 13px;
}

.event-schedule .content .title {
  font-size: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.event-schedule .content .title:hover {
  color: #2f55d4 !important;
}

.event-schedule .content .location-time {
  font-size: 14px;
}

.event-schedule:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  border-color: #2f55d4 !important;
  background: #f8f9fc !important;
}

.team img {
  height: 200px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.team .name:hover {
  color: #2f55d4 !important;
}

.team .team-icon {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  right: 0;
  opacity: 0;
  left: 0;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.team:hover img {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  opacity: 0.2;
}

.team:hover .overlay-team {
  opacity: 0.6;
}

.team:hover .team-icon {
  opacity: 1;
}

.login-page {
  font-size: 15px;
}

.login-page .forgot-pass {
  z-index: 99;
  position: relative;
  font-size: 13px;
}

.coming-soon, .maintenance, .error-page {
  font-size: 40px;
  letter-spacing: 1px;
}

#countdown .count-down, #eventdown .count-down {
  display: inline-block;
  margin: 30px 10px;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  border: 4px solid #dee2e6;
  height: 130px;
  width: 130px;
}

#countdown .count-down .count-number, #eventdown .count-down .count-number {
  font-size: 40px;
  line-height: 95px;
}

#countdown .count-down .count-head, #eventdown .count-down .count-head {
  display: block;
  position: relative;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

#eventdown .count-down {
  margin: 10px !important;
  border: 0;
  height: 20px;
  width: 80px;
}

#eventdown .count-down .count-number {
  line-height: 80px;
}

#eventdown .count-down .count-head {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

#clock {
  color: #ffffff;
}

#clock p {
  width: 80px;
}

#clock p span {
  font-size: 40px;
}

#clock p span.indicator {
  font-size: 18px;
}

@media (min-width: 200px) and (max-width: 767px) {
  .coming-soon, .maintenance, .error-page {
    font-size: 32px;
  }
  #eventdown .count-down {
    width: 60px;
  }
  #eventdown .count-down .count-number {
    font-size: 30px;
  }
  #eventdown .count-down .count-head {
    font-size: 10px;
  }
}

.contact-detail .icon img {
  height: 70px;
}

.contact-detail .content .title {
  font-size: 20px;
}

.form-group .icons {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 100px;
  font-size: 18px;
}

.map iframe {
  width: 100%;
  height: 400px;
}

.error {
  margin: 8px 0px;
  display: none;
  color: #e43f52;
}

#ajaxsuccess {
  font-size: 16px;
  width: 100%;
  display: none;
  clear: both;
  margin: 8px 0px;
}

.error_message {
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  border: 2px solid #e43f52;
  color: #e43f52;
  border-radius: 10px;
  font-size: 14px;
}

.contact-loader {
  display: none;
}

#success_page {
  text-align: center;
  margin-bottom: 50px;
}

#success_page h3 {
  color: #2eca8b;
  font-size: 22px;
}

.flatpickr-day.selected, .flatpickr-day.selected:hover {
  background: #2f55d4;
  border-color: #2f55d4;
}

@media (min-width: 768px) {
  .map.hotel-map iframe {
    height: 551px;
  }
}

.footer {
  background: #202942;
  padding: 60px 0;
  position: relative;
  color: #adb5bd;
}

.footer .logo-footer {
  color: #f8f9fc;
  font-weight: 700;
  font-size: 24px;
  padding: 3px 0;
  letter-spacing: 1px;
}

.footer .footer-head {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
}

.footer .foot-subscribe .form-control {
  background-color: #25304e;
  border: 1px solid #25304e;
  color: #f8f9fc;
}

.footer .foot-subscribe .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer .foot-subscribe input::-webkit-input-placeholder {
  color: #adb5bd;
}

.footer .foot-subscribe input:-ms-input-placeholder {
  color: #adb5bd;
}

.footer .foot-subscribe input::-ms-input-placeholder {
  color: #adb5bd;
}

.footer .foot-subscribe input::placeholder {
  color: #adb5bd;
}

.footer .text-foot {
  color: #adb5bd;
}

.footer .footer-list {
  margin-bottom: 0;
}

.footer .footer-list li {
  margin-bottom: 10px;
}

.footer .footer-list li a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer .footer-list li a:hover {
  color: #e6e8ea;
}

.footer .footer-list li:last-child {
  margin-bottom: 0;
}

.footer.footer-bar {
  padding: 30px 0;
}

.footer.footer-bar .payment-cards img {
  height: 25px;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid #333744;
}
/*# sourceMappingURL=style.css.map */